* {
    box-sizing: border-box;
    margin: 0;
}

input {
  height: 40px;
}

input, textarea {
  margin-top: 5px;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 150px;
}

.formBlock {
  width: 600px;    
  display: flex;
  flex-direction: column;
}

.user_details {
  margin-bottom: 20px;
}

button {
  background-color: #ccc;
  outline: 0;
  border: 0;
  padding: 10px 12px;
}